@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 100;
  font-style: normal;

  src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'), url('Ibmplexsansthin.woff2') format('woff2'), url('Ibmplexsansthin.woff') format('woff'), url('Ibmplexsansthin.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Serif';
  font-weight: 100;
  font-style: normal;

  src: local('IBM Plex Serif Thin'), local('IBMPlexSerif-Thin'), url('IBMPlexSerif-Thin.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;

  src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'), url('Ibmplexsansextralight.woff2') format('woff2'), url('Ibmplexsansextralight.woff') format('woff'), url('Ibmplexsansextralight.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;

  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url('Ibmplexsanslight.woff2') format('woff2'), url('Ibmplexsanslight.woff') format('woff'), url('Ibmplexsanslight.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;

  src: local('IBM Plex Sans'), local('IBMPlexSans'), url('Ibmplexsans.woff2') format('woff2'), url('Ibmplexsans.woff') format('woff'), url('Ibmplexsans.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-style: normal;

  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'), url('Ibmplexsansmedium.woff2') format('woff2'), url('Ibmplexsansmedium.woff') format('woff'), url('Ibmplexsansmedium.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-style: normal;

  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url('Ibmplexsanssemibold.woff2') format('woff2'), url('Ibmplexsanssemibold.woff') format('woff'), url('Ibmplexsanssemibold.ttf') format('truetype');
}
@font-face
{
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;

  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url('Ibmplexsansbold.woff2') format('woff2'), url('Ibmplexsansbold.woff') format('woff'), url('Ibmplexsansbold.ttf') format('truetype');
}